.hr {
    border: none;
    height: 15px;
    margin: 20px auto;
    width: 400px;

    background-image:
        /* Top line */
        linear-gradient(
            to right,
            transparent 0%,
            transparent 33%,
            black 33%,
            black 50%,
            black 66%,
            transparent 66%,
            transparent 100%
        ),
        /* Middle line */ linear-gradient(to right, black 50%, transparent 50%),
        /* Bottom line */
            linear-gradient(
                to right,
                transparent 0%,
                transparent 33%,
                black 33%,
                black 50%,
                black 66%,
                transparent 66%,
                transparent 100%
            );
    background-position:
        top left /* Top line */,
        center left /* Middle line */,
        bottom left /* Bottom line */;
    background-size:
        400px 3px /* Top line */,
        800px 3px /* Middle line */,
        400px 3px; /* Bottom line */
    background-repeat: no-repeat;
}

@media screen and (max-width: 640px) {
    .hr {
        width: 200px;
        background-size:
            200px 3px /* Top line */,
            400px 3px /* Middle line */,
            200px 3px; /* Bottom line */
    }
}
